<div class="content">
  <div class="input-group search">
    <input
      type="text"
      class="form-control"
      aria-label="Text input with dropdown button"
      placeholder="Search for quizzes..."
      [(ngModel)]="searchInput"
    />
    <button
      type="button"
      class="btn btn-secondary"
      (click)="search()"
      [class.disabled]="!searchInput"
    >
      Search
    </button>
  </div>

  <div class="quizzes-container">
    @for(quiz of quizzes; track quiz._id){
    <div class="quiz-card">
      <app-quiz [quiz]="quiz"></app-quiz>
    </div>
    }
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      @for(page of paginationArray; track page){

      <li class="page-item" [class.active]="this.page == page.toString()">
        <a class="page-link" [routerLink]="['/quizzes', page]">{{ page }}</a>
      </li>
      }
    </ul>
  </nav>
</div>
