:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  align-items: center;
}
.search,
.quizzes-container {
  background-color: var(--secondary-color);
  border-radius: 6px;
  align-self: center;
  width: 90%;
  max-width: 450px;
}
.search {
  padding: 1rem;
}
.quizzes-container {
  padding: 0.75rem 0;
  margin-bottom: 2rem;
}
