:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.title {
  color: var(--white-color);
  font-size: 7.5rem;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
.main-button {
  margin: 0.5rem;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.submit-container {
  display: flex;
  gap: 0.5rem;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.25rem;
}
mat-slide-toggle {
  margin-bottom: 1.25rem;
}
