/* You can add global styles to this file, and also import other style files */

@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

@font-face {
  font-family: condensed;
  src: url(./app/fonts/condensed.ttf);
}
h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
input,
textarea,
select,
button {
  margin: 0.2rem;
  font-family: condensed;
  font-weight: bold;
  color: var(--white-color);
}
mat-slide-toggle {
  span {
    margin: 0;
  }
}

p {
  font-weight: normal;
}
:root {
  --accent-color: #00d0d0;
  --line-color: #889392;
  --primary-color: #191923;
  --secondary-color: #1e1e28;
  --tertiary-color: #20202a;
  --gray-color: #dfdfdf;
  --white-color: #eeeeee;
}
html,
body {
  height: 100%;
}
body {
  background-color: var(--primary-color);
  margin: 0px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.disabled {
  cursor: not-allowed !important;
  pointer-events: auto !important;
}

.disabled:active {
  pointer-events: none !important;
}
.toast {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;
  margin: 1rem;
  width: auto;
  max-width: calc(100% - 2rem);
}
