:host {
  padding: 1.5rem;
  display: block;
  background-color: var(--tertiary-color);
  border-radius: 6px;
}
.-container {
  display: flex;
  justify-content: space-between;
}
.left {
  background-color: var(--secondary-color);
  border-radius: 6px;
  padding: 1rem 1.25rem;
}
.button-group {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: start;
  gap: 0.5rem;
  padding: 0.5rem 0rem 0rem 0rem;
}
.room-name {
  margin: 0px;
}
.input-text {
  width: 225px;
}
.select-quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  align-items: end;
  padding: 1rem 1.25rem;
  background-color: var(--secondary-color);
  border-radius: 6px;
}
.selected-quiz {
  display: flex;

  flex-direction: column;
  width: 100%;
}
.quizzes {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
