<div class="hud">
  <div class="left">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="lock()"
      [disabled]="!host"
    >
      @if(locked){ <i class="bi bi-lock-fill"></i>} @else {
      <i class="bi bi-unlock-fill"></i>
      }
    </button>
    <button type="button" class="btn btn-danger" (click)="leave()">
      <span> Quit </span>
    </button>
  </div>
  @if(host){
  <button type="button" class="btn btn-primary" (click)="progress()">
    <span> Next </span>
  </button>
  }
</div>
@if(room.quizProgression == 0){
<div class="lobby">
  <div class="lobby-header">
    <h1>{{ room.name }}</h1>
    <div class="lobby-header-inner">
      <div class="lobby-header-inner-inner">
        <h2>{{ room.name }}</h2>
        <h1 class="room-id">Room ID: {{ room.roomId }}</h1>
      </div>
      <canvas #qrCanvas></canvas>
    </div>
  </div>

  <div class="lobby-content">
    <h2>
      {{ room.quiz?.name }}
    </h2>
    <h5>Waiting for host to start the quiz...</h5>
  </div>

  <div class="participants">
    @for( participant of room.participants; track participant){
    <div class="participant">
      <h3>
        {{ participant.name }}
      </h3>
      @if(host && $index > 0){
      <i class="bi bi-x-square kick-icon" (click)="kick(participant.name)"></i>
      }
    </div>
    }
  </div>
</div>
}
